[general]
Cell=testenv.rzg.mpg.de
User=
Password=
allDBServs=te01.rzg.mpg.de
min_ubikdb_version=1327470000
# type of tests:
enable_harmless_noauth_tests=True
enable_harmless_auth_tests=False
enable_interrupting_tests=False
enable_modifying_tests=False
enable_destructive_tests=False

[DNSConfLLA]
allDBIPs=130.183.100.10,130.183.14.14,130.183.9.5

[BosServerLLA]
server=te01.rzg.mpg.de
salvage_volume=test
logfile=FileLog
files_to_prune=core
newbinary_restart_time=4:00 am
general_restart_time=4:00 am
superuser=hullafax
db_server=te01.rzg.mpg.de
db_server_clone=
start_stop_bnode=dafs
vol_name=testzap 
vol_part=a
bnodes= kdc,kadmind,kpasswdd,vlserver,ptserver,dafs

[BosService]
server=te01.rzg.mpg.de
newbinary_restart_time=4:00 am
general_restart_time=4:00 am
bnodes= kdc,kadmind,kpasswdd,vlserver,ptserver,dafs
superuser_list=admin,tick,trick,track


[VolService]
VolID=536870990
VolName=root.afs
minCopy=1
Owner="afspy"
FS=130.183.4.16
FSName=te01.rzg.mpg.de
Part=a
Type=RW

[FSService]
FS=130.183.4.16
FSUUID=000a3232-4d1f-1b4c-92-f3-f0a2b782aa77
Partitions=a


[VLDbLLA]
numServ=20

[FileServerLLA]
FS=te01.rzg.mpg.de
Part=a
allParts=a 

[UbikLLA]
SyncSite=
DBPort=7002
allDBs=
DBState=OK
MinDBVersion=100000

[CellService]
FS=
FsUUID=
allDBIPs=
realDBHostnames=
cloneDBHostnames=
numFSs=2
MinUbikDBVersion=1000

[VolServerLLA]
FS=te01.rzg.mpg.de
Part=a
DST_FS=te03.rzg.mpg.de
DST_Part=a
VolID=536870990
ROVolID=536871079
DumpFile=/tmp/afspy.test.dumpvolume
TmpVolName=afspy.tmp

[VLDBLLA]
FS=te01.rzg.mpg.de
FS_UUID=000a3232-4d1f-1b4c-92-f3-f0a2b782aa77
Part=a
TmpVolName=afspy.tmp

[ProjectService]
ProjectName=UNITTEST
ProjectDescription=Just for testing
ServerPart=te01.rzg.mpg.de,a
TestVolumeName=unittest_volume
TestVolumeRegEx=^unittest.*

[LookupUtil]
HostAlias=
primaryHostName=
IPAddr=
FsUUID=

